@model ChangePasswordByAdminViewModel

@{
    Layout = null;
}

<form>
    <div class="modal-header" style="background-color:silver; color:white; border-radius:5px 5px 0 0;">
        <button type="button" class="close pull-left" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h6 class="modal-title marginMod">تغییر رمز عبور - @ViewBag.FullName</h6>
    </div>
    <div style="margin-top:15px;">
        <!--NewPassword-->
        <div>
            <label asp-for="NewPassword" class="control-label col-md-3 col-xs-12"></label>
            <div class="col-md-9 col-xs-12">
                <input asp-for="NewPassword" autocomplete="off" type="password" class="form-control custominput" placeholder="رمز عبور جدید" />

            </div>
        </div>

        <!--ConfirmPassord-->
        <div>
            <label asp-for="ConfirmNewPassword" class="control-label col-md-3 col-xs-12"></label>
            <div class="col-md-9 col-xs-12">
                <input asp-for="ConfirmNewPassword" autocomplete="off" type="password" class="form-control custominput" placeholder="تکرار رمز عبور" />

            </div>
        </div>
    </div>

    <input type="hidden" asp-for="userId" value="@ViewBag.userId" />

    <div id="divmsg" class="col-md-12 col-xs-12 alert hidden" style="text-align:center;">
    </div>

    <div class="modal-footer" style="text-align:left;">
        <button class="btn btncustomRed" type="button" style="width:80px; border-radius:2px;" data-dismiss="modal">بازگشت</button>
        <a id="btnok" class="btn customgrey1" style="width:80px; border-radius:20px; color:white;">
            تغییر رمز
        </a>
    </div>

</form>

<script>
    $("#btnok").on('click', function () {
        var newPass = $("#NewPassword").val();
        var confirmNewPass = $("#ConfirmNewPassword").val();

        if (newPass == "" || newPass == null) {
            $("#divmsg").removeClass('hidden').addClass('alert-danger').html('رمز عبور جدید وارد نشده است');
            return false;
        }
        if (confirmNewPass == "" || confirmNewPass == null) {
            $("#divmsg").removeClass('hidden').addClass('alert-danger').html('تکرار رمز عبور جدید وارد نشده است');
            return false;
        }
        if (newPass.length < 4 || newPass.length > 30) {
            $("#divmsg").removeClass('hidden').addClass('alert-danger').html('رمز عبور حداقل 4 کاراکتر و حداکثر 30 کاراکتر باید باشد');
            return false;
        }
        if (newPass != confirmNewPass) {
            $("#divmsg").removeClass('hidden').addClass('alert-danger').html('رمز عبور با تکرار آن یکسان نیست');
            return false;
        }

        $.ajax({
            type: "Post",
            url: '@Url.Action("ChangePassByAdmin","User")',
            data: {
                'userId': $("#userId").val(),
                'NewPassword': newPass,
                'ConfirmNewPassword': confirmNewPass,
            }
        }).done(function (res) {
            if (res.status == 'ok') {
                $("#divmsg").removeClass('hidden').removeClass('alert-danger').addClass('alert-success').html('رمز عبور با موفقیت تغییر کرد');
            }
            else if (res.status == 'error') {
                $("#divmsg").removeClass('hidden').addClass('alert-danger').html('در ثبت اطلاعات خطایی رخ داده است');
            }
        });
    });
</script>