@model EditUserViewModel
@{
    ViewData["Title"] = "فرم ویرایش کاربر";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}


<div class="content">

    <div class="panel panel-heading panelstyle">
        <span style="font-weight:bold;">
            <i class="fa fa-edit"></i>
            فرم ویرایش کاربر 
        </span>
    </div>

    <div class="panel panel-body container-fluid panelstyle">
        <form asp-controller="User" asp-action="Edit" method="post" enctype="multipart/form-data">
            <input asp-for="Id" hidden/>
            <div class="col-md-6 col-xs-12">


                <!--firstName-->
                <div>
                    <label asp-for="FirstName" class="control-label col-md-3 col-xs-12"></label>
                    <div class="col-md-9 col-xs-12">
                        <input asp-for="FirstName" type="text" class="form-control custominput2" placeholder="نام ..." autocomplete="off" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>

                <!--lastname-->
                <div>
                    <label asp-for="LastName" class="control-label col-md-3 col-xs-12"></label>
                    <div class="col-md-9 col-xs-12">
                        <input asp-for="LastName" type="text" class="form-control custominput2" placeholder="نام خانوادگی ..." autocomplete="off" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>

                <!--email-->
                <div style="margin-bottom:15px;">
                    <label asp-for="Email" class="control-label col-md-3 col-xs-12"></label>
                    <div class="input-group col-md-9 col-xs-12 " style="padding-left: 9px;padding-right: 9px;">

                        <div class="input-group-addon brd-icon ">

                            <span class="glyphicon glyphicon-envelope "></span>
                        </div>
                        <input asp-for="Email" type="text" class="form-control custominput2" placeholder="ایمیل ..." autocomplete="off" />

                    </div>
                    <span asp-validation-for="Email" style="margin-top:10px;" class="text-danger col-md-offset-3 col-md-9 col-xs-12"></span>
                </div>

                <!--mobile-->
                <div style="margin-bottom:15px;">
                    <label asp-for="PhoneNumber" class="control-label col-md-3 col-xs-12"></label>
                    <div class="input-group col-md-9 col-xs-12 " style="padding-left: 9px;padding-right: 9px;">
                        <div class="input-group-addon brd-icon">
                            <span class="glyphicon glyphicon-phone"></span>
                        </div>
                        <input asp-for="PhoneNumber" type="text" class="form-control custominput2" placeholder="شماره تماس ..." autocomplete="off" />

                    </div>
                    <span asp-validation-for="PhoneNumber" style="margin-top:10px;" class="text-danger col-md-offset-3 col-md-9 col-xs-12"></span>
                </div>

                <!--birthdayDate-->
                <div style="margin-bottom:15px;">
                    <label asp-for="BirthDayDate" class="control-label col-md-3 col-xs-12" for="BirthdayDate"></label>
                    <div class="input-group col-md-9 col-xs-12 " style="padding-left: 9px;padding-right: 9px;">
                        <div class="input-group-addon brd-icon">

                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                        <input asp-for="BirthDayDate" value="@ConvertDateTime.ConvertMiladiToShamsi(@Model.BirthDayDate,"yyyy/MM/dd")" id="birthday" 
                        name="birthday" type="text" class="form-control custominput2" data-mddatetimepicker="true" data-placement="right" 
                        data-mdpersiandatetimepicker="" data-trigger="focus" data-enabletimepicker="false" data-mdpersiandatetimepickerselecteddatetime="{&quot;Year&quot;:1399,&quot;Month&quot;:1,&quot;Day&quot;:13,&quot;Hour&quot;:0,&quot;Minute&quot;:0,&quot;Second&quot;:0}"
                        data-mdpersiandatetimepickershowing="true" aria-describedby="popover265350">

                    </div>
                    <span asp-validation-for="BirthDayDate" style="margin-top:10px;" class="text-danger col-md-offset-3 col-md-9 col-xs-12"></span>
                </div>

                <!--gender-->
                <div>
                    <label asp-for="gender" class="control-label col-md-3 col-xs-12"></label>
                    <label class="col-md-3 col-xs-6">
                        <i class="fa fa-male" style="font-size:15px"></i>
                        مرد
                        <input asp-for="gender" type="radio" name="r1" value="1" checked />
                    </label>
                    <label class="col-md-3 col-xs-6">
                        <i class="fa fa-female" style="font-size:15px"></i>
                        زن
                        <input asp-for="gender" type="radio" name="r1" value="2" />
                    </label>
                </div>


            </div>

            <div class="col-md-6 col-xs-12">

                <!--username-->
                <div style="margin-bottom:15px;">
                    <label asp-for="UserName" class="control-label col-md-3 col-xs-12"></label>
                    <div class="input-group col-md-9 col-xs-12 " style="padding-left: 9px;padding-right: 9px;">
                        <div class="input-group-addon brd-icon">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <input asp-for="UserName" type="text" class="form-control custominput2" placeholder="نام کاربری را با حروف انگلیسی واردکنید ..." autocomplete="off" readonly/>

                    </div>
                    <span asp-validation-for="UserName" style="margin-top:10px;" class="text-danger col-md-offset-3 col-md-9 col-xs-12"></span>
                </div>

                <!--userImage-->
                <div>
                    <label asp-for="ImagePath" class="control-label col-md-3 col-xs-12"></label>
                    <div class="col-md-9 col-xs-12">
                        <div class="col-md-6">
                            <div class="form-horizontal">

                                <label for="ImagePath" class="btn upimgbtns ">
                                    انتخاب تصویر
                                    <i class="icon-file-picture"></i>
                                </label>
                                <input asp-for="ImagePath" type="file" accept=".jpg, .png, .tif, .tiff, .jpeg" style="visibility:hidden" />
                                <span id="spnimageuser" style="color:black; font-size:12px;"></span>

                                <!--نام جدید تصویر-->
                                <input id="newImagePathName" name="newImagePathName" value="@Model.ImagePath" hidden />

                                <input type="button" value="آپلود و نمایش تصویر" id="btnupload" onclick="UploadImage()" class="btn upimgbtns" />

                            </div>
                        </div>

                        <div class="col-md-6 col-xs-6">
                            <img id="imguserimage" src="~/upload/userimage/@Model.ImagePath"
                                 style="height:130px; width:110px; margin:5px auto; border:1px solid gray; background-size:100%; width:100%;border-radius:3px;" />

                            <div id="divmessage" class="text-center hidden"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 form-group" style="margin-top:15px;">
                
                <input type="submit" value="ذخیره اطلاعات" class="btn customGreen1 pull-right" />
                       

                <a asp-controller="User" asp-action="Index" value="برگشت" class="btn customRed pull-right">بازگشت</a>


            </div>
        </form>
    </div>
</div>







@section AdminScripts{

    <script>
        $("#ImagePath").change(function () {
            var filename = this.files[0].name;
            $("#spnimageuser").html(filename);
        });
    </script>

    <script>
        var UploadImage = function () {
            var data = new FormData;
            var file = $("#ImagePath").get(0);
            var files = file.files;

            for (var i = 0; i < files.length; i++) {
                data.append('filearray', files[i]);
            }
            data.append('path', "upload\\userimage\\");

            $.ajax({
                type: "post",
                url: '@Url.Action("UploadImageFile","User", new { area = "AdminPanel"})',
                data: data,
                contentType: false,
                processData: false

            }).done(function (result) {
                if (result.status == "success") {
                    $("#imguserimage").attr('src', "\\upload\\userimage\\" + result.imagename);
                    $("#divmessage").text("آپلود موفقیت آمیز بود.");
                    $("#divmessage").css("color", "green");
                    $("#divmessage").removeClass("hidden");

                    $("#newImagePathName").val(result.imagename);
                }

            }).fail(function (result) {
                if (result.status != "success") {
                    $("#divmessage").css("color", "red");
                    $("#divmessage").removeClass("hidden");
                    $("#divmessage").text("در حین آپلود اشکالی بوجود آمد.");
                }
            });

        }
    </script>



    <script>
        $("#UserName").on('keyup', function (event) {
            var pattern = /^[a-zA-Z0-9]*$/;
            if (!pattern.test(event.key)) {
                $('#UserName').val("");
            }
        });

    </script>


}

