<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <!-- START - MetaTags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="fa">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>پنل کاربری - سیستم مدیریت وب سایت خبر ورزشی</title>
    <!-- END - MetaTags -->
    <!-- START - stylesheets -->
    <link href="/admin/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="/admin/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/admin/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="/admin/assets/css/components.css" rel="stylesheet" type="text/css">
    <!--Custome Css-->
    <link href="/admin/css/customStyle.css" rel="stylesheet" type="text/css">
    <link href="~/site/css/customstyle.css" rel="stylesheet" />
    <!--Sweet Alert-->
    <link href="~/site/lib/sweetalert/sweetalert2.min.css" rel="stylesheet" />
    <!--fontawesome-->
    <link href="~/admin/assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" />
    <!--persiandatetime-->
    <link href="~/site/lib/mdpersiandatetimepicker/css/jquery.bootstrap-persiandatetimepicker.min.css" rel="stylesheet" />
    <!--JsTree-->
    <link href="~/jstree/themes/default/style.css" rel="stylesheet" />
@*    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/bower_components/font-awesome/css/font-awesome.min.css">*@
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/bower_components/Ionicons/css/ionicons.min.css">



</head>

<body class="navbar-top">
    <!-- START - Main Navibar -->
    <partial name="_navbarPartial" />
    <!-- END - Main Navibar -->
    <!-- START - Main Content -->
    <div class="page-container">

        <!-- START - Page Content -->
        <div class="page-content">

            <!-- START - Main Sidebar -->

            <partial name="_sidebarPartial" />

            <!-- END - Main Sidebar -->
            <!-- START - Main Content -->
            <div class="content-wrapper">

                <!-- START - View header -->
                <partial name="_headerPartial" />
                <!-- END - View header -->
                <!-- Content area -->
                <div class="content">

                    <!-- START - View Content -->
                    <div class="row">
                        @RenderBody()
                    </div>
                    <!-- END - View Content -->

                </div>
                <!-- /content area -->
                <!-- Footer -->

                <div class="breadcrumb-line" style="background-color:#e0dbdb; border-top:1px solid gray; text-align:center; bottom:1px !important; position:fixed; width:100%;">
                    <div class="col-md-offset-2 col-md-6">
                        <span style="color: black;"> مدیریت وب سایت خبری ورزشی 90 - کلیه حقوق مادی و معنوی این نرم افزار محفوظ می باشد </span>
                    </div>
                </div>

                <!-- /footer -->
            </div>
            <!-- END - Main Content -->

        </div>
        <!-- END - Page Content -->

    </div>
    <!-- END - Main Content -->
    <!--Top Loading-->
    <script type="text/javascript" src="/admin/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="/admin/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="/admin/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="/admin/assets/js/plugins/ui/nicescroll.min.js"></script>
    <script type="text/javascript" src="/admin/assets/js/core/app.js"></script>
    <!-- END - theme JS files -->
    <!--sweet Alert-->
    <script src="~/site/lib/sweetalert/sweetalert2.min.js"></script>
    <partial name="_Notification" />
    <!--persiandatetime-->
    <script src="~/site/lib/mdpersiandatetimepicker/js/calendar.min.js"></script>
    <script src="~/site/lib/mdpersiandatetimepicker/js/jquery.bootstrap-persiandatetimepicker.min.js"></script>
    <!--JsTree-->
    <script src="~/jstree/jstree.js"></script>

    <!--chart-->
    <script src="~/site/js/chart/jquery.flot.js"></script>
    <script src="~/site/js/chart/jquery.flot.pie.js"></script>

    @RenderSection("AdminScripts", required: false)

</body>

</html>