<div class="page-header">
    <div class="page-header-content">
        <div style="padding-top:10px;">
            <!--<h4>
                <i class="icon-arrow-right6 position-left"></i> <span class="text-semibold">خانه</span>
                - داشبورد
            </h4>-->
        </div>
    </div>

    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="icon-home2 position-left"></i> صفحه اصلی</a></li>
            <li class="active">پیشخوان</li>
        </ul>

       
    </div>
</div>
