@model PollViewModel
@{
    ViewData["Title"] = "ثبت نظرسنجی  ";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}


<div class="content">

    <div class="panel panel-heading panelstyle">
        <span style="font-weight:bold;">
            <i class="fa fa-align-left"></i>
            فرم ثبت نظرسنجی
        </span>
    </div>


    <div class="panel panel-body container-fluid panelstyle">

        <form asp-controller="Poll" asp-action="Create" method="post">
            <div class="col-md-8 col-md-offset-2">
                <!--Question-->
                <div>
                    <div class="col-md-10 col-xs-12 ">
                        <label asp-for="Question" class="control-label col-md-3 col-xs-12 "></label>

                        <input asp-for="Question" type="text" class="form-control custominput" placeholder="  سوال..." autocomplete="off" />
                        <span asp-validation-for="Question" class="text-danger"></span>
                    </div>
                </div>

                <!--Answer-->
                <div>
                    <div class="col-md-10 col-xs-12">
                        <label asp-for="Answer" class="control-label col-md-3 col-xs-12 "></label>

                        <textarea asp-for="Answer" type="text" class="form-control custominput" placeholder="پاسخ..." autocomplete="off"></textarea>
                        <span asp-validation-for="Answer" class="text-danger"></span>
                    </div>
                </div>

                <div class="text-danger text-danger text-center">
                    @ViewBag.message
                </div>

                <div class="col-xs-12 form-group" style="margin-top:15px;">

                    <input type="submit" style="border:1px solid gray; border-radius:3px;"
                           value="ذخیره اطلاعات" class="btn customGreen1 pull-right" />

                    <a asp-controller="Poll" asp-action="Index" style="border:1px solid gray; border-radius:3px; margin-left:20px"
                       value="برگشت" class="btn customRed pull-right">بازگشت</a>

                </div>
            </div>
        </form>
    </div>

</div>

