@{
    ViewData["Title"] = "چارت اجزای سیستم";
    ViewData["selected"] = "Roles";

    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";

}

<div class="content">

    <div class="panel panel-heading panelstyle" >
        <span style="font-weight:bold;">
            <i class="icon-accessibility"></i>
            اجزای سیستم
        </span>
    </div>

    <div style="margin-bottom:5px;">
        <a class="btn customGreen1" href="#" id="navigationtoadd">
            <i class="glyphicon glyphicon-plus"></i>
            ثبت بخش جدید
        </a>
    </div>

    <div class="alert" style="border:1px solid gray; font-weight:bold; margin-top:15px;
                                text-align:center; font-size:15px; background-color:#f2f1b4;">
        جهت افزودن بخش جدید ابتدا یک جز را از درخت اجزا انتخاب نمایید.
    </div>

    <div class="panel panel-body container-fluid overflow-auto" style="border-radius:2px; height:450px;
                    box-shadow:3px 1px 1px 0 gray; background-color:#becbbe;">
        <div id="jstreesyspart">
        </div>
    </div>

</div>


@section AdminScripts{
    <script>
        $(function () {
            $("#jstreesyspart").on("changed.jstree", function (e, data) {

                var i, j;
                var postedItems = [];

                j = data.selected.length;
                for (var i = 0; i < j; i++) {
                    postedItems.push({
                        text: data.instance.get_node(data.selected[i]).text,
                        id: data.selected[i],
                        parent: data.node.parents[0]
                    });
                }
                if (data.selected.length) {
                    $('#navigationtoadd').click(function () {
                        if (this.id == 'navigationtoadd') {
                            //Add
                            var id = postedItems[0].id;
                            var parentname = postedItems[0].text;
                            $('#navigationtoadd').attr("href", "/AdminPanel/Role/Create?id=" + id +
                                "&parentname=" + parentname);
                        }

                    });
                }

            }).jstree({
                "core": {
                    "themes": {
                        "variant": "large"
                    },
                    "data": @Html.Raw(ViewBag.Json) ,
                },
                "checkbox": {
                    "Keep_selected_style": false
                },
            }).on("loaded.jstree", function () {
                $.jstree.reference('#jstreesyspart').open_all();
            });
        });
    </script>
}