@font-face {
    font-family: 'IRANSansWeb';
    src: url('/fonts/IRANSansWeb.eot');
    src: url('/fonts/IRANSansWeb.eot') format('embedded-opentype'), url('/fonts/IRANSansWeb.woff') format('woff'), url('/fonts/IRANSansWeb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'IRANSansWeb' !important;
    font-weight: 400;
}

.panelstyle {
    box-shadow: 3px 1px 1px 0 gray;
    border-radius: 2px;
    background-color: #dce4dc;
}
.searchStyle {
    border: 1px solid gray;
    background-color: #acc0ac;
    text-align: center;
    padding: 10px 6px 5px 6px;
    border-radius: 2px;
    margin-bottom: 20px;
}

.customGreen1 {
    border: 1px solid gray;
    border-radius: 5px;
    color: black !important;
    background-color: #5aab70;
}
.customGreen2 {
    border: 1px solid gray;
    border-radius: 5px;
    color: black !important;
    background-color: #6ebd94;
}
.customPurple1 {
    border: 1px solid gray;
    border-radius: 4px;
    color: black !important;
    background-color: #bbadad;
}

.customBlue1 {
    border: 1px solid gray;
    border-radius: 3px;
    color: black !important;
    background-color: #8addec;
}
.customBlueGn {
    border: 1px solid gray;
    border-radius: 3px;
    color: black !important;
    background-color: #6bbfb3;
}

.customRed {
    border: 1px solid gray;
    border-radius: 5px;
    color: black !important;
    background-color: #e87a7a;
    margin-left: 20px;
}

.customBlue2 {
    border: 1px solid gray;
    border-radius: 5px;
    color: white !important;
    background-color: #6eb5bd;
}

.customYellow1 {
    border: 1px solid gray;
    border-radius: 3px;
    color: black !important;
    background-color: #e8efa7;
}

.customRed1 {
    border: 1px solid gray;
    border-radius: 3px;
    color: black !important;
    background-color: #f59f9f;
}
.customgrey1 {
    border: 1px solid gray;
    border-radius: 3px;
    color: black !important;
    background-color: silver;
}

.custominput {
    border: 1px solid gray;
    border-radius: 3px;
    height: 40px;
    margin-bottom: 10px;
  
}
.custominput2 {
    border: 1px solid gray;
    border-radius: 6px;
    margin-bottom: 10px;
    height: 50px;
   
}

.customWhite{
    color:white;
}
.brd-icon {
    border: 1px solid gray;
    padding: 6px;
    border-radius: 0px 5px 5px 0px;
}

.upimgbtns {
    width: 125px;
    height: 36px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom:10px;
}
.marginMod {
    margin-bottom: 5px;
    margin-top: -11px;
}
/*ایکن*/
/*
 * Component: Small Box
 * --------------------
 */
.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

    .small-box > .inner {
        padding: 10px;
    }

    .small-box > .small-box-footer {
        position: relative;
        text-align: center;
        padding: 3px 0;
        color: #fff;
        color: rgba(255, 255, 255, 0.8);
        display: block;
        z-index: 10;
        background: rgba(0, 0, 0, 0.1);
        text-decoration: none;
    }

        .small-box > .small-box-footer:hover {
            color: #fff;
            background: rgba(0, 0, 0, 0.15);
        }

    .small-box h3 {
        font-size: 38px;
        font-weight: bold;
        margin: 0 0 10px 0;
        white-space: nowrap;
        padding: 0;
    }

    .small-box p {
        font-size: 15px;
    }

        .small-box p > small {
            display: block;
            color: #f9f9f9;
            font-size: 13px;
            margin-top: 5px;
        }

    .small-box h3,
    .small-box p {
        z-index: 5;
    }

    .small-box .icon {
        -webkit-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
        position: absolute;
        top: -10px;
        left: 10px;
        z-index: 0;
        font-size: 90px;
        color: rgba(0, 0, 0, 0.15);
    }

    .small-box:hover {
        text-decoration: none;
        color: #f9f9f9;
    }

        .small-box:hover .icon {
            font-size: 95px;
        }

@media (max-width: 767px) {
    .small-box {
        text-align: center;
    }

        .small-box .icon {
            display: none;
        }

        .small-box p {
            font-size: 12px;
        }
}
/*
 * Component: Box
 * --------------
 */